.symbol_selection {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%
}

.symbol_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.symbol_table td,
.symbol_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.symbol_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.symbol_table tr:hover {
    background-color: #ddd;
}

.symbol_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

.container {
    margin: 0;
    position: center;
    padding-top: 10px;
    display: table-cell;
    text-align: center;
}

.chart {
    height: 90px;
    width: 45%;
    border: 2px solid #04aa6d;
    border-radius: 5px;
    background-color: #f2f2f2;
    right: 0;
    position: fixed;
    top: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#stockChart {
    width: 800px;
    /* Adjust the width as needed */
    height: 400px;
    /* Adjust the height as needed */
}