{% extends 'base.html' %} {% block head %} {{ super() }}
<title>Build Your Own ETF</title>
{% endblock %} {% block body %} {{ super() }}
<div class="symbol_selection" id="symbol_selection">
  <form id="symbol_data">
    <table class="symbol_table" id="symbol_table">
      <tr>
        <th>Symbol</th>
        <th>Weight</th>
      </tr>
      {% for set in default %}
      <tr>
        <td class="tdinput">
          <input type="text" name="symbol" value="{{set[0]}}" />
        </td>
        <td class="tdinput black">
          <input
            type="number"
            step="0.01"
            name="weight"
            value="{{set[1]}}"
          /><input
            type="button"
            style="float: right"
            value="Delete Row"
            onclick="deleteThis(this)"
          />
        </td>
      </tr>
      {% endfor %}
    </table>
    <input
      type="radio"
      id="index"
      name="rebalance_type"
      value="index"
      checked="checked"
    />
      <label for="html">Submit As Index (Rebalanced to weights daily)</label
    ><br />
    <input type="radio" id="index" name="rebalance_type" value="index" />
      <label for="html">Submit As Portfolio (Buy and Hold!)</label><br />
       
  </form>
  <div class="container">
    <button style="margin-right: 250px" type="button" onclick="addRow()">
      Add Symbol
    </button>
    <button style="margin-right: 200px" type="button" onclick="removeRow()">
      Remove Symbol
    </button>
    <button style="margin-right: 200px" type="button" onclick="update()">
      Submit
    </button>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="chart">
  <h1 style="text-align: center" , float="right" , id="indexHeader">
    {{name}}
  </h1>
  <br />

  <br />
  <canvas id="stockChart" width="800" height="800"></canvas>
</div>

<script>
  setUp();

  async function update() {
    var data = document.getElementById("symbol_data");
    data = new FormData(data);

    document.getElementById("indexHeader").innerHTML = "Loading...";

    var response = await fetch("{{ url_for('result') }}", {
      method: "POST",
      credentials: "include",
      body: data,
      cache: "no-cache",
    }).then((response) => {
      updateGraph(response);
    });
  }
  async function updateGraph(responseData) {
    console.log(responseData);
    var data = await responseData.json().then((data) => {
      const datesArray = data.dates;

      var formattedDatesArray = datesArray.map(function (date) {
        var d = new Date(date);
        return d.toLocaleDateString("en-US");
      });
      const amountsArray = data.values;
      console.log(datesArray);
      console.log(amountsArray);

      var ctx = new Chart(document.getElementById("stockChart"), {
        type: "line",
        data: {
          labels: formattedDatesArray,
          datasets: [
            {
              label: "ETF Price",
              data: amountsArray,
              backgroundColor: "rgba(0, 123, 255, 0.2)",
              borderColor: "rgba(0, 123, 255, 1)",
              borderWidth: 1,
              pointRadius: 0,
            },
          ],
        },
        options: {
          responsive: false,
          maintainAspectRatio: true,
          scales: {
            x: {
              display: true,
              title: {
                display: true,
                text: "Date",
              },
            },
            y: {
              display: true,
              title: {
                display: true,
                text: "Value",
              },
            },
          },
        },
      });
      ctx.destroy();
      //console.log(ctx);
      ctx.data.datasets[0].data = amountsArray;
      ctx.data.labels = formattedDatesArray;
      ctx.update();

      document.getElementById("indexHeader").innerHTML = "Your Index";
    });
  }

  async function setUp() {
    var data = document.getElementById("symbol_data");
    data = new FormData(data);

    document.getElementById("indexHeader").innerHTML = "Loading...";

    var response = await fetch("{{ url_for('result') }}", {
      method: "POST",
      credentials: "include",
      body: data,
      cache: "no-cache",
    }).then((response) => {
      setGraph(response);
    });
  }

  async function setGraph(responseData) {
    console.log(responseData);
    var data = await responseData.json().then((data) => {
      const datesArray = data.dates;

      var formattedDatesArray = datesArray.map(function (date) {
        var d = new Date(date);
        return d.toLocaleDateString("en-US");
      });
      const amountsArray = data.values;
      console.log(datesArray);
      console.log(amountsArray);

      var ctx = document.getElementById("stockChart").getContext("2d");

      document.getElementById("indexHeader").innerHTML = "Your Index";
      var stockChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: formattedDatesArray,
          datasets: [
            {
              label: "ETF Price",
              data: amountsArray,
              backgroundColor: "rgba(0, 123, 255, 0.2)",
              borderColor: "rgba(0, 123, 255, 1)",
              borderWidth: 1,
              pointRadius: 0,
            },
          ],
        },
        options: {
          responsive: false,
          maintainAspectRatio: true,
          scales: {
            x: {
              display: true,
              title: {
                display: true,
                text: "Date",
              },
            },
            y: {
              display: true,
              title: {
                display: true,
                text: "Value",
              },
            },
          },
        },
      });
    });
  }
  function addRow() {
    var table = document.getElementById("symbol_table");
    var newRow = document.createElement("tr");
    var newTD, newTD2, symbol, symbolInput, weight, weightInput;

    symbol = document.createElement("td");
    symbol.setAttribute("class", "tdinput");
    symbolInput = document.createElement("input");
    symbolInput.setAttribute("type", "text");
    symbolInput.setAttribute("name", "symbol");
    symbol.appendChild(symbolInput);
    newRow.appendChild(symbol);

    weight = document.createElement("td");
    weight.setAttribute("class", "tdinput black");
    weightInput = document.createElement("input");
    weightInput.setAttribute("type", "number");
    weightInput.setAttribute("name", "weight");
    weightInput.setAttribute("step", "0.01");
    weight.appendChild(weightInput);

    var deleteButtonInput;
    deleteButtonInput = document.createElement("input");
    deleteButtonInput.setAttribute("type", "button");
    deleteButtonInput.setAttribute("onclick", "deleteThis(this)");
    deleteButtonInput.setAttribute("value", "Delete Row");
    weight.appendChild(deleteButtonInput);
    newRow.appendChild(weight);

    table.appendChild(newRow);
  }
  function removeRow() {
    var table = document.getElementById("symbol_table");
    table.deleteRow(table.rows.length - 1);
  }
  function deleteThis(row) {
    var parent = row.parentNode.parentNode;
    parent.parentNode.removeChild(parent);
  }
</script>
{% endblock %}
