{% extends 'base.html' %} {% block head %}
<title>ETF 4 All</title>

{% endblock %} {% block body %}

<body>
  <form method="POST" action="/result">
    <table id="myTable">
      <tr>
        <th>Symbol</th>
        <th>Weight</th>
      </tr>
      <tr>
        <td class="tdinput">
          <input type="text" name="symbol1" id="symbol1" value="" />
        </td>
        <td class="tdinput black">
          <input type="number" name="weight1" id="weight1" value="" />
        </td>
      </tr>
    </table>
  </form>
  <br />

  <button type="button" onclick="addRow()">Add Symbol</button>
  <script>
    function addRow() {
      var table = document.getElementById("myTable");
      var newRow = document.createElement("tr");
      var newTD, newTD2, symbol, symbolInput, weight, weightInput;

      newRow.setAttribute("class", "unit-table");
      symbol = document.createElement("td");
      symbol.setAttribute("class", "tdinput");
      symbolInput = document.createElement("input");
      symbolInput.setAttribute("type", "text");
      symbol.appendChild(symbolInput);
      newRow.appendChild(symbol);

      weight = document.createElement("td");
      weight.setAttribute("class", "tdinput");
      weightInput = document.createElement("input");
      weightInput.setAttribute("type", "number");
      weight.appendChild(weightInput);
      newRow.appendChild(weight);
      table.appendChild(newRow);
    }
  </script>
  {% endblock %}
</body>
